@font-face {
  font-family: Bahnschriftt;
  src: url(/BAHNSCHRIFT\1ttf);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #00103C;
}

#img1 {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-top: -18%;
  font-family: Bahnschrift;
  font-size: 100px;
  margin-bottom: -40px;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-family: Bahnschrift;
  font-size: 45px;
  margin-bottom: 180px;
  
}

#img2 {
position: relative;

}

#part1 {
  background-color: #00103c;
}

#part2 {
  background-color: #00103c;
  height: 150px;
  margin-top: 7.5%;
}

#part3{
    background-color: #000364;
}

/* #Hetenigsteformmaarikwilhemtochapartdesignen {
  position: relative;
  margin-left: 38%;
  margin-top: 14%;
} */

#select1 {
  margin-top: 8%;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #4589FA;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #4589FA;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#buttonholder{
    text-align: center;
}

#dropdownholder{
    left: 41%;
    font-family: Bahnschrift;
    text-align: center;
}

#confirm{
    background-color: #10649B;
    border: none;
    color: #ffffff;
    width: 16   0px;
    height: 2.5em;
    font-family: Bahnschrift;
}